# IDE
.cursor/

# Python virtual environment
.venv/

# Python cache
__pycache__/

# Pytest cache
.pytest_cache/

#test files
ML_Engine\test_interactive.py

# Node modules
Backend/node_modules/
frontend/node_modules/

# Build outputs
Backend/dist/

# Environment files
.env
*.local